html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
} 

ul , li { 
  padding: 0;
  margin: 0;
  list-style: none
}
p {
  margin: 0;
}

:root {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'logofont';
  src: url('/logo.ttf') format(truetype);
}

body {
  background-color: var(--surface3);
}

/* theme-light */
:root[theme='light'] {
  --surface1: #ffffff;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --element1: #111111;
  --element2: #222222;
  --element3: #5B5855;
  --element4: #838383;
  --element5: #D1D1D1;
  --element6: #E7E7E7;
  --element7: #FBFBFB;
  --hljs0: #f3f3f3;
  --hljs1: #444444;
  --hljs2: #697070;
  --hljs3: #487;
  --hljs4: #274e12;
  --hljs5: #ab5656;
  --hljs6: #71975c;
  --hljs7: #48711e;
  --hljs9: #4d8fb2;
  --fonthover: #374151;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
  --mark: #047135;
}
/* theme-dark */
:root[theme='dark'] {
  --surface1: #404043;
  --surface2: #333333;
  --surface3: #050505;
  --element1: #eeeeee;
  --element2: #dddddd;
  --element3: #cccccc;
  --element4: #B4B4B4;
  --element5: #373737;
  --element6: #E7E7E7;
  --element7: #d8d8d8;
  --hljs0: #333333;
  --hljs1: #ffffff;
  --hljs2: #c3c6c6;
  --hljs3: #8FBC8F;
  --hljs4: #2E8B57;
  --hljs5: #ab5656;
  --hljs6: #ddbbbb;
  --hljs7: #b6c6a5;
  --hljs9: #b8d2e0;
  --fonthover: #ffffff;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
}

.markdown {
  color: var(--element2);
  font-size: 16px;
}

/* Markdown Format CSS */
.markdown p,
.markdown ul,
.markdown ol {
  font-size: 18px;
  margin: 8px 0;
  color: var(--element1);
  text-indent: 20px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.markdown hr {
  margin: 20px 0;
}

.markdown li {
  margin: 5px 0;
}

.markdown h1 {
  font-size: 28px;
  display: none;
}

.markdown h2 {
  font-size: 22px;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h4 {
  font-size: 18px;
}

.markdown h5,
.markdown h6 {
  font-size: 16px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--element3);
}

.markdown blockquote {
  padding: 8px 20px;
  border-left: 5px solid var(--element6);
  margin-left: 0;
}

.markdown code {
  background-color: var(--hljs0);
  padding: 3px;
  margin: 0 2px;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;

}

.markdown code::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.markdown p img {
  max-width: 100%;
  margin: 5px 0;
}

.markdown table {
  margin: 10px auto;
  color: var(--element1);
}

.markdown td {
  border-top: 1px solid var(--element2);
}

.markdown a {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
  text-decoration-color: var(--element5);
}

.markdown a:hover {
  color: #047135;
}


/* Original highlight.js style */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  background: var(--hljs0);
  color: var(--hljs1);
}
.hljs-comment {
  color: var(--hljs2);
}
.hljs-punctuation,
.hljs-tag {
  color: var(--hljs3);
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: var(--hljs1);
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: 500;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--hljs4);
}
.hljs-section,
.hljs-title {
  color: var(--hljs4);
  font-weight: 500;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: var(--hljs5);
}
.hljs-literal {
  color: var(--hljs6);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: var(--hljs7);
}
.hljs-meta {
  color: var(--hljs7);
}
.hljs-meta .hljs-string {
  color: var(--hljs9);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 500;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

:root[theme='light'] ::view-transition-old(root) {
  z-index: 1;
}
:root[theme='light']::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}
::view-transition-new(root) {
  z-index: 1;
}