.header {
  margin-bottom: 60px;
}

.headline {
  color: var(--element1);
  margin-bottom: 12px;
}

.mark {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.about {
  color: var(--element4);
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.projectsarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  row-gap: 10px;
  margin-bottom: 40px;
}
