.container{
  display: flex;
  width: 100vw;
  padding: 25px 60px;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: var(--element1);
  margin-right: auto;
  font-family: logofont;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav a{
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--element4);
}
.nav div a {
  font-size:22px
}

.nav a:hover{
  color: var(--fonthover);
}

.heart {
  color: #8B0000;
}