.container{
  display: flex;
  width: 100vw;
  padding: 25px 60px;
  align-items: center;
}

.logo {
  font-size: 25px;
  margin-right: auto;
  font-family: logofont;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.nav a {
  font-size: 18px;
  font-weight: 500;
  color: var(--element4);
}

.nav a span {
  font-size: 26px;
}

.nav a:hover {
  color: var(--fonthover);
}
